{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block extrahead %}
    {{ form.media }}
{% endblock %}

{% block title %}
    {{ txt_titulo }}
{% endblock %}

{% block main %}
    <div class=" bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 col-lg-6 mb-5">
                    <form method="POST" enctype="multipart/form-data" class="p-5 bg-white">
                        {% csrf_token %}
                        <h2 class="mb-4 text-black">Sign in</h2>
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form.username | as_crispy_field }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                {{ form.password | as_crispy_field }}
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-md-12">
                                <button type="submit" class="btn btn-secondary-blue  py-2 px-4 rounded-0">Login</button>
                                <button class="btn btn-primary  py-2 px-4 rounded-0" onclick="window.location.href='/'">Cancelar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}