{% extends 'base.html' %}
{% load static %}

{% block title %}
Lis_res
{% endblock %}

{% block main %}

<ul class="list-group">
    {% for i in dados %}
    <li class="list-group-item">
        {% if i.isActive == True %}
        <h4>Locação id: {{ i.id }}</h4>
            Cliente: {{ i.cliente.nome }} <br>
            Início: {{ i.dataInicio }} <br>
            {% if i.status == 'Passado' %}
                Fim: {{ i.dataFim }} <br>
                Valor: {{ i.valor }} <br>
            {% elif i.status == 'Presente'  %}
                A locação ainda está ativa. <br>
            {% else %}
                A locação ainda não foi iniciada. <br>
            {% endif %}

        <h4>Carro id: {{ i.carro.id }} </h4>
            Placa: {{ i.carro.placa }} <br>
            Marca: {{ i.carro.marca }} <br>
            Modelo: {{ i.carro.modelo }} <br>
            Cor: {{ i.carro.cor }} <br>
            Valor por dia: {{ i.carro.locacao }}  <br>

            <a href="{% url 'url_altera_reserva' i.id %}">Editar</a>
            <a href="{% url 'url_exclui_reserva' i.id %}">Excluir</a>
            <br>
        {% endif %}
    {% empty %}
        Não há reservas a exibir.
        </li>
    {% endfor %}
</ul>

<button onclick="window.location.href='/'">Home</button>

{% endblock %}