{% extends 'base.html' %}
{% load static %}

{% block title %}
Lis_car
{% endblock %}

{% block main %}
    <section class="content">
      <div class="container-fluid">
        <div class="row justify-content-center">
        <div class="col-md-10">
            <table class="table table-bordered table-hover tabela-cadastro">
              <thead>
              <tr>
                <th>Placa</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Cor</th>
                <th>Valor Locação</th>
                <th>Disponível</th>
                <th>Cep Vaga</th>
                <th>Vaga</th>
                <th>Ações</th>
              </tr>
              </thead>
              <tbody>
              {% for dado in dados %}
                  <tr>
                    <td>{{ dado.placa }}</td>
                    <td>{{ dado.marca }}</td>
                    <td>{{ dado.modelo }}</td>
                    <td>{{ dado.cor }}</td>
                    <td>{{ dado.locacao }}</td>
                    <td>{{ dado.disponivel | yesno }}</td>
                    <td>{{ dado.vaga.endereco.cep | default_if_none:' ' }}</td>
                    <td>{{ dado.vaga.id | default_if_none:' ' }}</td>
                    <td>
                        <a href="{% url 'url_altera_carro' dado.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" class="btn btn-secondary-blue btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a  href="{% url 'url_exclui_carro' dado.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir" class="btn btn-danger btn-sm">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

{% endblock %}