{% extends 'base.html' %}
{% load static %}

{% block title %}
    Lis_end
{% endblock %}

{% block main %}

    <section class="content">
      <div class="container-fluid">
        <div class="row justify-content-center">
        <div class="col-md-10">
            <table class="table table-bordered table-hover tabela-cadastro">
              <thead>
              <tr>
                <th>Nome</th>
                <th>E-mail</th>
                <th>Identificacao</th>
                <th>Telefone</th>
                <th>Rua</th>
                <th>Bairro</th>
                <th>Cidade</th>
                <th>Cep</th>
                <th>Matricula</th>
                <th>Cargo</th>
                <th>Ações</th>
              </tr>
              </thead>
              <tbody>
              {% for dado in dados %}
                  <tr>
                    <td>{{ dado.nome | default_if_none:'' }}</td>
                    <td>{{ dado.email | default_if_none:'' }}</td>
                    <td>{{ dado.identificacao | default_if_none:'' }}</td>
                    <td>{{ dado.telefone | default_if_none:'' }}</td>
                    <td>{{ dado.endereco.rua | default_if_none:'' }}</td>
                    <td>{{ dado.endereco.bairro | default_if_none:'' }}</td>
                    <td>{{ dado.endereco.cidade | default_if_none:'' }}</td>
                    <td>{{ dado.endereco.cep | default_if_none:'' }}</td>
                    <td>{{ dado.matricula | default_if_none:'' }}</td>
                    <td>{{ dado.cargo | default_if_none:'' }}</td>
                    <td class="d-flex">
                        <a href="{% url 'url_altera_administrador' dado.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Editar" class="btn btn-secondary-blue mx-1 btn-sm">
                            <i class="fas fa-edit"></i>
                        </a>
                        <a  href="{% url 'url_exclui_administrador' dado.id %}" data-bs-toggle="tooltip" data-bs-placement="top" title="Excluir" class="btn btn-danger mx-1 btn-sm">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                  </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

{% endblock %}