<!-- Modal -->
<div class="modal fade" id="modalDetalhesCarro"  data-bs-keyboard="true" tabindex="-1" aria-labelledby="modalDetalhesCarro" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="label-modelo-veiculo"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <label class="fs-6">Valor da locação:</label>
                    <label class="fs-6 font-weight-bold" id="label-locacao-carro"></label>
                </div>
                <div>
                    <label class="fs-6">Placa:</label>
                    <label class="fs-6 font-weight-bold" id="label-placa-carro"></label>
                </div>
                <div>
                    <label class="fs-6">Marca:</label>
                    <label class="fs-6 font-weight-bold" id="label-marca-carro"></label>
                </div>
                <div>
                    <label class="fs-6">Cor:</label>
                    <label class="fs-6 font-weight-bold" id="label-cor-carro"></label>
                </div>
                <hr>
                <h3 class="fs-5 font-weight-bold">Endereço</h3>
                <div>
                    <label class="fs-6">Rua:</label>
                    <label class="fs-6 font-weight-bold" id="label-rua-carro"></label>
                </div>
                <div>
                    <label class="fs-6">Bairro:</label>
                    <label class="fs-6 font-weight-bold" id="label-bairro-carro"></label>
                </div>
                <div>
                    <label class="fs-6">Cidade:</label>
                    <label class="fs-6 font-weight-bold" id="label-cidade-carro"></label>
                </div>
                <div>
                    <label class="fs-6">Vaga:</label>
                    <label class="fs-6 font-weight-bold" id="label-vaga-carro"></label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>